body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  height: 100%;
  background: linear-gradient(to right, #fbc2eb, #a6c1ee);
}
.add-form {
  background-color: #fff;
  width: 280px;
  height: 380px;
  border-radius: 15px;

  /* 定位到中心 */
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text {
  /* 标题Login的样式 */
  font-size: 24px;
  font-weight: bold;

  text-align: center;
  line-height: 40px;
  margin-top: 40px;
}

.textinfo{
  width: 70%;
}

.form-item, .btn, .other {
  margin: 20px auto;
  width: 80%;
}

input {
  width: 80%;
  margin-top: 20px;
  padding: 10px;
  /* placeholder变更为大写字体 */
  text-transform: uppercase;
  /* 边框效果 */
  border: 0;
  outline: none;
  border-bottom: 1px solid #fbc2eb;
}
input::placeholder{
  font-weight: bold;
  color: #acb7c9;
}
input:focus {
  /* 当输入框获取焦点时的效果 */
  /* box-shadow: 0px 0px 5px #fbc2eb;
  border-bottom: 1px solid #fff; */
  animation: bBottom 2s infinite ;
}
@keyframes bBottom {
  50% {
    border-bottom: 1px solid #a6c1ee;
  }
}
.btn {
  height: 40px;
  line-height: 20px;
  /* 字体 */
  color: #fff;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  /* 鼠标样式 */
  cursor: pointer;
  /* 边框、背景 */
  border-radius: 10px;
  background: linear-gradient(to right, #fbc2eb, #a6c1ee, #fbc2eb);
  background-size: 200%;
  font-size: 20px;
}
.btn:hover {
  animation: btnAnimate 1s infinite;
}
@keyframes btnAnimate {
  50% {
    background-position: 200%;
  }
}

a {
  text-decoration: none;
  color: #fbc2eb;
}
