<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/login.css">
  <title>UM</title>
</head>
<body>
<div class="container">
  <form class="add-form" action="/" method="post">
    <div class="text">添加IP至白名单</div>
    <div class="form-item">
      <input type="text" placeholder="你本机的IP" name="ip" th:value="${client.ip}">
    </div>
    <input class="btn" type="submit"/>

    <p> <span th:text="${client.msg}"></span> </p>
  </form>
</div>

</div>
</body>
</html>
